<h2><%= @event.title %></h2>

<p>
	Category: <%= @event.category_name %>
</p>
	
<p>
	Description: <%= simple_format @event.description %>
</p>

<p>
	Message: <%= @event.message_content %>
</p>

<p><%= link_to 'Back to index', events_path %></p>
