<h2><%= @event.title %></h2>

<h4>
	Category:
</h4>
<%= @event.category_name %>
	
<h4>
	Description:
</h4>
<%= simple_format @event.description %>

<h4>Messages: </h4>
<table class="table">
	<% @event.messages.each do |e| %>
		<tr>
			<td>
				<%= e.content %>
			</td>
			<td>
				<%= e.user.try(:short_name) %>
			</td>
			<td>				
				<%= link_to 'Edit', edit_event_message_path(@event, e), :class => "btn btn-primary" %>
				<%= link_to 'Delete', event_message_path(@event, e), :method => :delete, :data => { :confirm => "Are you sure?" }, :class => "btn btn-danger" %>
			</td>
			<td>
				<% Time.zone = "Taipei" %>
				<%= e.updated_at %>
			</td>			
		</tr>
	<% end %>
</table>

<%= link_to "New message", new_event_message_path(@event), :class => "btn btn-info" %>
<%= link_to 'Back to index', events_path, :class => "btn btn-info" %>
