<h2><%= @event.title %> : Leave Message</h2>

<ul>
	<% @messages.each do |m| %>
		<li>
			<%= m.content %>

			<%= link_to "Show", event_message_path(@event, m), :class => "btn btn-primary" %>

			<%= link_to "Edit", edit_event_message_path(@event, m), :class => "btn btn-primary" %>
			
			<%= link_to "Delete", event_message_path(@event, m), :method => :delete, :data => { :confirm => "Are you sure?" }, :class => "btn btn-danger" %>
		</li>		
	<% end %>
</ul>

<%= link_to "New message", new_event_message_path(@event), :class => "btn btn-primary" %>
